@import '../fonts/all.min.css';
@import './font.css';

:root {
    --o400: "Open-sans";
    --o700: "Open-sans-bold";
    --m700: "Merriweather";
    --darkblue: #262D37;
    --blue: #1D85FF;
    --orange: #FF6A3C;
    --lightgreen: #8BCAC1;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background-image: url(../image/body.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro {
    margin-top: 100px;
    background: url("../image/about-intro.jpg");
    height: 740px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title {
    width: 568px;
    font-size: 40px;
    text-align: center;
    color: var(--darkblue);
    margin: 0 auto;
    line-height: 50px;
    margin-top: 77px;
    margin-bottom: 80px;
    font-family: var(--m700);
}

.contact__item {
    width: 462px;
}

.contact__name,
.contact__phone,
.contact__textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact__name label,
.contact__phone label,
.contact__textarea label {
    font-size: 18px;
    font-family: var(--o700);
    color: #000;
}

.input__name,
.input__phone,
.input__textarea {
    background-color: #262D37;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: 0;
    padding: 0px 0px 0px 15px;
}

.input__name, .input__phone {
    height: 50px;
    margin-bottom: 20px;
}

.input__textarea {
    height: 286px;
    resize: none;
    padding-top: 15px;
}

.button  {
    text-align: right;
    margin-top: 20px;

}

.button button {
    width: 170px;
    height: 50px;
    background-color: var(--darkblue);
    color: #fff;
    font-family: var(--o700);
    text-transform: uppercase;
    font-size: 18px;
    border: 0;
}

.contact__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contact__info-title {
    font-size: 35px;
    color: #000;
    text-transform: uppercase;
    font-family: var(--o400);
    line-height: 48px;
    margin-bottom: 30px;
    width: 488px;
}

.loc__icon {
    background: var(--darkblue);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
}

.loc__text {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-family: var(--o400);
    width: 308px;
}


.contact__info-phone a {
    display: block;
    color: #000;
    text-decoration: none;
}

.contact__info-gmail,
.contact__info-insta,
.contact__info-facebook,
.contact__info-phone,
.contact__info-loc {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loc__text {
    font-size: 18px;

}

.loc__text a {
    text-decoration: none;
    color: #000;
}

iframe {
    width: 100%;
}

.footer {
    height: 100%;
    background: var(--darkblue);
    padding: 56px 0px;

}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.footer__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--o400);
}
