@font-face {
    font-family: "Open-sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open-sans-bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Bold.ttf);
}

